body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  transition: 0.5s all ease;
}

[vs-theme=dark] {
  color: rgba(var(--vs-text), 1);
}

.vs-table table {
  @media (max-width: 767px) {
    min-width: 0;
  }
}

.vs-table__header .vs-input {
  width: 100%;
}

.vs-table__thead {
  @media (max-width: 767px) {
    display: none;
  }
}

.vs-table__tbody {

  @media (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.vs-table__tr {

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    flex: 0 0 50%;
    width: 50%;

    &:nth-child(even) {
      border-right: 0;
    }
  }
}

.vs-table__th__content {
  justify-content: center;
  width: 100%;
}

.vs-table__td {
  vertical-align: middle;
  line-height: 1.5;

  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &::before {
      content: attr(data-label);
      width: 50%;
      flex: 0 0 50%;
      text-align: left;
    }

    &:last-child::before {
      display: none;
    }

    span {
      text-align: right;
    }
  }
}

.vs-button {
  font-family: Montserrat, sans-serif;
  border-radius: 3px;
  margin: 0 auto;
}

.vm--overlay {
  background-color: rgba(0, 0, 0, .5);
}

.vm--modal {
  border-radius: 0.75rem;
  background-color: #000;
  padding: 1rem;
  box-shadow: 0 0 20px #e2007a19;
  width: 90% !important;
  max-width: 1140px;
  left: 50% !important;
  transform: translateX(-50%);

  @media (min-width: 1200px) {
    padding: 2rem;
  }
}

.highcharts-background {
  background-color: #e6e6e6;
  fill: transparent;
}
.highcharts-axis-labels, .highcharts-title {
  fill: #fff;
}
.highcharts-title {
  font-size: 1.6rem;
}
