body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  transition: 0.5s all ease;
}

[vs-theme=dark] {
  color: rgba(var(--vs-text), 1);
}

.vs-table__header .vs-input {
  width: 100%;
}

.vs-table__th__content {
  justify-content: center;
  width: 100%;
}

.vs-table__td {
  vertical-align: middle;
}

.vs-button {
  font-family: Montserrat, sans-serif;
  border-radius: 3px;
  margin: 0 auto;
}

.vm--overlay {
  background-color: rgba(0, 0, 0, .5);
}

.vm--modal {
  border-radius: 0.75rem;
  background-color: #000;
  padding: 2rem;
  box-shadow: 0 0 20px #e2007a19;
}

.highcharts-background {
  background-color: #e6e6e6;
  fill: transparent;
}
.highcharts-axis-labels, .highcharts-title {
  fill: #fff;
}
.highcharts-title {
  font-size: 1.6rem;
}
